@media (min-width: 768px) {
  .boxed-right {
    margin: 0px;
    padding: 0px;
    border-right: 1px solid white;
  }
}

@media (min-width: 768px) {
  .boxed-left {
    margin: 0px;
    padding: 0px;
    border-left: 1px solid white;
  }
}

@media (min-width: 1005px) {
  .boxed-sides {
    margin: 0px;
    padding: 0px;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
}

.boxed-bottom {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid white;
}

.boxed {
  margin: 0px;
  padding: 0px;
}

.box {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.contenido {
  margin: 0px;
  padding: 10px;
}

