@font-face {
	font-family: 'Gangster Grotesk';
	src: url(../../assets/fonts/GangsterGrotesk-Regular.woff2) format('woff2'),
	url(../../assets/fonts/GangsterGrotesk-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}